<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>
            AlgTube | Home
        </title>
    </head>
    <body>
        <nav>
            <p>AlgTube</p>
            <ul>
                <li><a href="/">PROFILE</a></li>
                <li><a href="/favorites">FAVORITES</a></li>
                <li><a>HOME</a></li>
            </ul>
        </nav>
        <header>
            <h1 id="homeHead">AlgTube</h1>
        </header>
            <p id="homeBlurb">
                Algtube is where curious CS students can log in and see their favorite algorithms, 
                in multiple programming languages and all in one place! Students will be able to make 
                an account and save their favorite data structures to a favorites page, where they 
                can return later to study. 
            </p>
        <div class="container">
            <section>
                <h2>SORTING</h2>
                <ul>
                    <li><a href="/algorithms/bubbleSort">Bubble Sort</a></li>
                    <li><a href="/algorithms/insertionSort">Insertion Sort</a></li>
                    <li><a href="/algorithms/heapSort">Heap Sort</a></li>
                </ul>
            </section>
            <section>
                <h2>MORE ALGS SOON!</h2>
                <p>Make sure to check in to see if newer algorithms have been added!</p>
                </ul>
            </section>
        </div>
        <footer>
            <p>©Will Reed | CS270</p>
        </footer>
    </body>
</html>