<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>
            AlgTube | Login
        </title>
    </head>
    <body>
        <header>
            <h1>AlgTube</h1>
        </header>
        <section class="panel">
            <h2>LOGIN</h2>
            <form method="post" action="/register/">
                <label for="fname">USERNAME:</label>
                <input type="text" id="fname" name="username">
                <label for="lname">PASSWORD:</label>
                <input type="password" id="lname" name="password"><br>
                <button type="submit">CREATE AND LOGIN</button>
            </form>
        </section>
        <footer>
            <p>©Will Reed | CS270</p>
        </footer>
    </body>
</html>