<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        <link rel="stylesheet" href="/static/css/style.css">
        <!--Code tab script -->
        <script src="/static/js/codeTab.js"></script>
        <!--Chart.js scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="/static/js/algorithms/insertionSort.js" defer></script>
        <script src="/static/js/viz.js" defer></script>
        <title>
            AlgTube | Insertion Sort
        </title>
    </head>
    <body>
        <nav>
            <p>AlgTube</p>
            <ul>
                <li><a href="/">PROFILE</a></li>
                <li><a href="/favorites">FAVORITES</a></li>
                <li><a href="/home">HOME</a></li>
            </ul>
        </nav>
        <header>
            <h2>Insertion Sort</h2>
                <form method="post" action="/favorite/insertionSort">
                    <button 
                        type="submit" 
                        class="favorite-btn {% if is_favorited %}favorited{% endif %}"
                        {% if is_favorited %}disabled{% endif %}
                    >
                        {% if is_favorited %}
                            Favorited
                        {% else %}
                            Favorite
                        {% endif %}
                    </button>
                </form>
        </header>
        <div class="container">
            <section class="algDef">
                <h3>INFO</h3>
                    <p>
                        <!--Source: https://www.w3schools.com/dsa/dsa_algo_insertionsort.php-->
                        The Insertion Sort algorithm uses one part of the array to hold the sorted values, and the other part of the array 
                        to hold values that are not sorted yet. The algorithm takes one value at a time from the unsorted part of the array 
                        and puts it into the right place in the sorted part of the array, until the array is sorted.
                    </p>
                    <h4><a href="https://www.youtube.com/watch?v=8mJ-OhcfpYg">Video Tutorial</a></h4>

                <div>
                    <button onclick="openCode('python')">Python</button>
                    <button onclick="openCode('java')">Java</button>
                    <button onclick="openCode('javascript')">JavaScript</button>
                </div>
                <div id="python" class="code">
                    <h4>Python</h4>
                    <pre>
def insertionSort(arr):
    n = len(arr)
    
    if n <= 1:
        return
    for i in range(1, n):
        key = arr[i]         
        j = i - 1
        while j >= 0 and key < arr[j]: 
            arr[j + 1] = arr[j]
            j -= 1
        arr[j + 1] = key      


arr = [12, 11, 13, 5, -1]
insertionSort(arr)
print(arr)
                    </pre>
                </div>
                <div id="java" class="code" style="display:none">
                    <h4>Java</h4>
                    <pre>
public class InsertionSort {
    /* Function to sort array using insertion sort */
    void sort(int arr[])
    {
        int n = arr.length;
        for (int i = 1; i < n; ++i) {
            int key = arr[i];
            int j = i - 1;

            /* Move elements of arr[0..i-1], that are
               greater than key, to one position ahead
               of their current position */
            while (j >= 0 && arr[j] > key) {
                arr[j + 1] = arr[j];
                j = j - 1;
            }
            arr[j + 1] = key;
        }
    }
                    </pre>
                </div>
                <div id="javascript" class="code" style="display:none">
                    <h4>JavaScript</h4>
                    <pre>
function insertionSort(arr) {
    for (let i = 1; i < arr.length; i++) {
        let key = arr[i];
        let j = i - 1;

        /* Move elements of arr[0..i-1], that are
           greater than key, to one position ahead
           of their current position */
        while (j >= 0 && arr[j] > key) {
            arr[j + 1] = arr[j];
            j = j - 1;
        }
        arr[j + 1] = key;
    }
}
                    </pre>
                </div>
            </section>
            <section class="algViz">
                <label for="searchValues">Input list of numbers to sort (Comma seperated):</label><br>
                <input type="text" id="searchValues" name="searchValues" value=""><br>
                <button type="button" onclick="testInput(insertionSort)">Submit</button>
                <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
            </section>
        </div>
        <footer>
            <p>©Will Reed | CS270</p>
        </footer>
    </body>
</html>